* {
    margin: 0;
}


.profile {
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: flex;
    margin-left: 33.5%;

    
    p{
        position: absolute;
        bottom: 15px;
        height: 50px;
        width: 50px;
        background-color: red;
        border-radius: 50%;
        color: aliceblue;
        font-display: flex;
        justify-content: center;
        right: 15px;
        text-align: center;
        display: flex;
        
    }
}