* {
    margin: 0;
}


.profile {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: relative;
    background-size: cover;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    
    p{
        position: absolute;
        bottom: 15px;
        height: 50px;
        width: 50px;
        background-color: red;
        border-radius: 50%;
        color: aliceblue;
        right: 15px;
        font-size: 40px;
        
    }
}